<%- include('partials/_header.ejs'); %>


  <body>
    <!-- Navigation -->
    <%- include('partials/_navigation.ejs'); %>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/about-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>About Me</h1>
              <span class="subheading">Hei, I'm Jokerinya.</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>
            I'm an IT specialist with 3+ years of professional experience in different areas of information technology and software development. I have studied web development and worked in this area as a frontend and full-stack developer for nearly two years. I have finished a 9 month long IT course. I'm a Certified AWS Solution Architect Associate.
          </p>
          <p>
            I see myself as an energetic, fast-paced, and self-motivated team member who is result-oriented and possesses superior analytical problem solving and communication skills. I'm a quick learner and I'm always looking for new challenges.
          </p>
          <p>
            This is a site that has emerged as a result of NodeJS studies. Includes the following qualifications:
              <ul class="list-group list-group-flush">
                <li class="list-group-item p-0"><p class="m-0">EJS template structure</p></li>
                <li class="list-group-item p-0"><p class="m-0">MVC structure</p></li>
                <li class="list-group-item p-0"><p class="m-0">Routing structure</p></li>
                <li class="list-group-item p-0"><p class="m-0">Mongodb and MongoDb Atlas</p></li>
              </ul>
          </p>
        </div>
      </div>
    </div>

    <hr />

    <!-- Footer -->
    <%- include('partials/_footer.ejs'); %>
  </body>
</html>
